* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: sans-serif;
}
.sek1 {
    background-image: url(./Path\ 194.png);
    width: 100%;
    height: 1075px;
}
.divrighthider {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 20px;
}
.hider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}
.menu {
    width: 30px;
    display: none;
}
.button1 {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50px;
    width: 140px;
}
.textsekk1 {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.sekk1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 20px;
}
.imgsekk1 img {
    width: 550px;
}
.sek2 {
    text-align: center;
}
.sek2 p, .divsek3 p, .textsek33 p {
    color: gray;
}
.imgsek3 img{
    border-radius: 50%;
    width: 90px;
}
.divsek3 {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: end;
}
.divsek33 {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: end;
}
.divleftsek3 {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
}
.textsek33 {
    text-align: start;
}
.sek3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
.futer {
    background-image: url(./Path\ 194\ \(1\).png);
    width: 100%;
    height: 522px;
}
.div1futer {
    color: white;
}
.divfuter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.divfuterr {
    display: flex;
    align-items: start;
    padding-top: 200px;
    justify-content: space-around;
}
hr {
    background-color: white;
    height: 1px;
    width: 1340px;
    margin: auto;
    margin-top: 110px;
}
@media (max-width: 500px) {
    .divrighthider {
            display: none;
    }
    .menu {
        display: block;
    }
    .textsekk1 {
        text-align: center;
    }
    .sekk1 {
        flex-direction: column;
        row-gap: 50px;
        font-size: 15px;
    }
    .imgsekk1 img{
        width: 280px;
    }
    .sek3 {
        flex-direction: column;
        row-gap: 50px;
    }
    .imgsek33 img{
        width: 300px;
    }
    .divfuterr {
        flex-direction: column;
        padding: 7px;
        padding-top: 140px;
        row-gap: 30px;
        font-size: 12px;        
    }
    hr{
        display: none;
    }
    .hhh {
        display: none;
    }
}